<div class="home-wrapper" ref="homeWrapper">
  <div class="banner">
    <img src="../assets/images/banner.jpg" alt="배너 이미지" class="bg" />
    <div class="content">
      <img src="../assets/images/movie-title.png" alt="영화 제목" class="title" />
      <div class="metadata">
        <span>2020</span>
        <span class="limit-age"></span>
        <span>1시간 55분</span>
        <span>Actions</span>
      </div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo corporis error reprehenderit similique debitis perspiciatis repellat minima! Cumque corrupti incidunt at, repellendus debitis et dolores eligendi facere, laboriosam voluptates amet.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt sed est perspiciatis ipsum minima dolore praesentium consectetur nihil commodi! Optio, culpa. Repellat praesentium iste eveniet qui harum omnis inventore. Voluptates.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt sed est perspiciatis ipsum minima dolore praesentium consectetur nihil commodi! Optio, culpa. Repellat praesentium iste eveniet qui harum omnis inventore. Voluptates.
      </p>
      <div class="buttons">
        <a href="#"><i class="iconoir-play-outline"></i>Play</a>
        <a href="#"><i class="iconoir-plus"></i>My List</a>
      </div>
    </div>
    <a href="#" class="play-trailer"><img src="../assets/images/play.png" alt="watch trailer">Watch Trailer</a>
  </div>

  <div class="trailer">
    <div class="trailer-video" ref="landing"></div>
    <button type="button" class="trailer-cancel"><i class="iconoir-cancel"></i></button>
  </div>

  <div class="slides" ref="slides">
    <div class="slide">
      <h2 class="slide-title">넷플릭스 오리지널</h2>
      <div class="slide-inner">
        <div class="slide-container">
          <button class="prevBtn"><svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
              <title>Chevron Back</title>
              <path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='48'
                d='M328 112L184 256l144 144' />
            </svg></button>
          <div class="slide-wrapper" ref="original"></div>
          <button class="nextBtn"><svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
              <title>Chevron Forward</title>
              <path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='48'
                d='M184 112l144 144-144 144' />
            </svg></button>
        </div>
      </div>
    </div>

    <div class="slide">
      <h2 class="slide-title">넷플릭스 인기 콘텐츠</h2>
      <div class="slide-inner">
        <div class="slide-container">
          <button class="prevBtn"><svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
              <title>Chevron Back</title>
              <path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='48'
                d='M328 112L184 256l144 144' />
            </svg></button>
          <div class="slide-wrapper" ref="popular"></div>
          <button class="nextBtn"><svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
              <title>Chevron Forward</title>
              <path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='48'
                d='M184 112l144 144-144 144' />
            </svg></button>
        </div>
      </div>
    </div>

    <div class="slide">
      <h2 class="slide-title">애니메이션</h2>
      <div class="slide-inner">
        <div class="slide-container">
          <button class="prevBtn"><svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
              <title>Chevron Back</title>
              <path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='48'
                d='M328 112L184 256l144 144' />
            </svg></button>
          <div class="slide-wrapper" ref="kids"></div>
          <button class="nextBtn"><svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
              <title>Chevron Forward</title>
              <path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='48'
                d='M184 112l144 144-144 144' />
            </svg></button>
        </div>
      </div>
    </div>

    <div class="slide">
      <h2 class="slide-title">TV 프로그램·역사</h2>
      <div class="slide-inner">
        <div class="slide-container">
          <button class="prevBtn"><svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
              <title>Chevron Back</title>
              <path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='48'
                d='M328 112L184 256l144 144' />
            </svg></button>
          <div class="slide-wrapper" ref="history"></div>
          <button class="nextBtn"><svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
              <title>Chevron Forward</title>
              <path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='48'
                d='M184 112l144 144-144 144' />
            </svg></button>
        </div>
      </div>
    </div>

    <div class="slide">
      <h2 class="slide-title">호러</h2>
      <div class="slide-inner">
        <div class="slide-container">
          <button class="prevBtn"><svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
              <title>Chevron Back</title>
              <path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='48'
                d='M328 112L184 256l144 144' />
            </svg></button>
          <div class="slide-wrapper" ref="horror"></div>
          <button class="nextBtn"><svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
              <title>Chevron Forward</title>
              <path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='48'
                d='M184 112l144 144-144 144' />
            </svg></button>
        </div>
      </div>
    </div>

    <div class="slide">
      <h2 class="slide-title">다큐멘터리</h2>
      <div class="slide-inner">
        <div class="slide-container">
          <button class="prevBtn"><svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
              <title>Chevron Back</title>
              <path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='48'
                d='M328 112L184 256l144 144' />
            </svg></button>
          <div class="slide-wrapper" ref="documentary"></div>
          <button class="nextBtn"><svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
              <title>Chevron Forward</title>
              <path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='48'
                d='M184 112l144 144-144 144' />
            </svg></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="preview">
  <div class="preview-inner" ref="preview">
    <div class="preview-thumbnail">
      <img class="small-image" src="" alt="w500 이미지" ref="smallImage">
      <img class="large-image" src="" alt="original 이미지" ref="largeImage">
      <div class="preview-video" ref="youtubeVideo">
        <div id="player"></div>
      </div>
    </div>

    <div class="preview-metadata" ref="metadata">
      <div class="preview-buttons">
        <div class="left">
          <button type="button" class="play"><svg xmlns='http://www.w3.org/2000/svg' class='ionicon'
              viewBox='0 0 512 512'>
              <title>Caret Forward</title>
              <path
                d='M190.06 414l163.12-139.78a24 24 0 000-36.44L190.06 98c-15.57-13.34-39.62-2.28-39.62 18.22v279.6c0 20.5 24.05 31.56 39.62 18.18z'
                fill='#000' stroke='#000' />
            </svg></button>
          <button type="button" class="add"><svg xmlns='http://www.w3.org/2000/svg' class='ionicon'
              viewBox='0 0 512 512'>
              <title>Add</title>
              <path fill='none' stroke='#FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'
                d='M256 112v288M400 256H112' />
            </svg></button>
          <button type="button" class="like"><svg xmlns='http://www.w3.org/2000/svg' class='ionicon'
              viewBox='0 0 512 512'>
              <title>Thumbs Up</title>
              <path
                d='M320 458.16S304 464 256 464s-74-16-96-32H96a64 64 0 01-64-64v-48a64 64 0 0164-64h30a32.34 32.34 0 0027.37-15.4S162 221.81 188 176.78 264 64 272 48c29 0 43 22 34 47.71-10.28 29.39-23.71 54.38-27.46 87.09-.54 4.78 3.14 12 7.95 12L416 205'
                fill='none' stroke='#FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' />
              <path
                d='M416 271l-80-2c-20-1.84-32-12.4-32-30h0c0-17.6 14-28.84 32-30l80-4c17.6 0 32 16.4 32 34v.17A32 32 0 01416 271zM448 336l-112-2c-18-.84-32-12.41-32-30h0c0-17.61 14-28.86 32-30l112-2a32.1 32.1 0 0132 32h0a32.1 32.1 0 01-32 32zM400 464l-64-3c-21-1.84-32-11.4-32-29h0c0-17.6 14.4-30 32-30l64-2a32.09 32.09 0 0132 32h0a32.09 32.09 0 01-32 32zM432 400l-96-2c-19-.84-32-12.4-32-30h0c0-17.6 13-28.84 32-30l96-2a32.09 32.09 0 0132 32h0a32.09 32.09 0 01-32 32z'
                fill='none' stroke='#FFF' stroke-miterlimit='10' stroke-width='32' />
            </svg></button>
          <button type="button" class="unlike"><svg xmlns='http://www.w3.org/2000/svg' class='ionicon'
              viewBox='0 0 512 512'>
              <title>Thumbs Down</title>
              <path
                d='M192 53.84S208 48 256 48s74 16 96 32h64a64 64 0 0164 64v48a64 64 0 01-64 64h-30a32.34 32.34 0 00-27.37 15.4S350 290.19 324 335.22 248 448 240 464c-29 0-43-22-34-47.71 10.28-29.39 23.71-54.38 27.46-87.09.54-4.78-3.14-12-8-12L96 307'
                fill='none' stroke='#FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' />
              <path
                d='M96 241l80 2c20 1.84 32 12.4 32 30h0c0 17.6-14 28.84-32 30l-80 4c-17.6 0-32-16.4-32-34v-.17A32 32 0 0196 241zM64 176l112 2c18 .84 32 12.41 32 30h0c0 17.61-14 28.86-32 30l-112 2a32.1 32.1 0 01-32-32h0a32.1 32.1 0 0132-32zM112 48l64 3c21 1.84 32 11.4 32 29h0c0 17.6-14.4 30-32 30l-64 2a32.09 32.09 0 01-32-32h0a32.09 32.09 0 0132-32zM80 112l96 2c19 .84 32 12.4 32 30h0c0 17.6-13 28.84-32 30l-96 2a32.09 32.09 0 01-32-32h0a32.09 32.09 0 0132-32z'
                fill='none' stroke='#FFF' stroke-miterlimit='10' stroke-width='32' />
            </svg></button>
        </div>
        <div class="right">
          <button type="button" class="details" ref="details">
            <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
              <title>Chevron Down</title>
              <path fill='none' stroke='#FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='48'
                d='M112 184l144 144 144-144' />
            </svg>
          </button>
        </div>
      </div>

      <div class="preview-info-container">
        <div class="preview-info-left">
          <span class="average" ref="average"></span>
          <span class="date" ref="releaseDate"></span>
          <span class="runtime" ref="runtime"></span>
          <div class="genres" ref="genres"></div>

          <div>
            <h3 class="title" ref="title"></h3>
            <p class="overview" ref="overview"></p>
          </div>
        </div>

        <div class="preview-info-right">
          <div class="preview-info-right--company">
            <span class="preview-info-right-label">제작사: </span>
            <span class="preview-info-right-content" ref="companies"></span>
          </div>
          <div class="preview-info-right--genres">
            <span class="preview-info-right-label">장르: </span>
            <span class="preview-info-right-content" ref="fullGenres"></span>
          </div>
        </div>
      </div>

      <div class="similiar-container">
        <h2 class="similiar-title">비슷한 콘텐츠</h2>
        <div class="similiar" ref="similiar"></div>
      </div>
    </div>

    <div class="preview-close">
      <button type="button" ref="previewClose"><svg xmlns='http://www.w3.org/2000/svg' class='ionicon'
          viewBox='0 0 512 512'>
          <title>Close</title>
          <path fill='#FFF' stroke='#FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'
            d='M368 368L144 144M368 144L144 368' />
        </svg></button>
    </div>
  </div>
</div>

<div class="overlay" ref="overlay"></div>

<!-- <a href="/tv">TV로 이동</a> -->